html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Lucida Grande";
}

a {
    text-decoration: none;
}

.style_1 {
    font-family: 'Metal Mania', cursive;
    color: antiquewhite;
    font-size: 20px
}

#profile_photo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: url(./profile.jpeg);
    background-size: contain;
    background-position: center;
    position: relative;
    bottom: 5%;
    text-align: center;
    background-repeat: no-repeat;
    border: 3px solid white;
}


}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;

}

.container h1 {
    font-family: 'Metal Mania', cursive;
    color: yellow;
    font-weight: bold
}

.container p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
    font-size: 20px
}

.top-wrapper {
    /* height: fit-content; */
    padding: 180px 0 100px 0;
    /* background-image: url(https://prog-8.com/images/html/advanced/top_en.png); */
    background-image: url(./life.jpg);
    background-size: cover;
    color: rgb(26, 14, 14);
    text-align: center;
}



.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
}



.btn-wrapper {
    margin: 20px 0;
}

.btn-wrapper p {
    margin: 10px 0;
}

.signup {
    background-color: #239b76;
}

.facebook {
    background-color: #3b5998;
    margin-right: 10px;
}

.twitter {
    background-color: #55acee;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}

.btn:hover {
    opacity: 1;
}

.fa {
    margin-right: 5px;
}

#headr {
    z-index: 1;
    background-color: rgba(34, 49, 52, 0.9);
    padding: 2px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    /* Change the position property to fixed, and top property to 0 */
    position: fixed;
    top: 0;

    /* Change the z-index property to 10 */
    z-index: 10;
}

#row-reverse {
    margin-left: 20cm
}

.logo {
    width: 124px;
    margin-top: 20px;
}

#social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

img {
    border-radius: 30%
}

/* .header-left {
    float: left;
}

.header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s; */

}


.header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
    /* }

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block; */
}

/* lesson wrapper nelly testimonials */

#testimonies_container {
    background-color: black;
    border: 1px solid white;
    margin-bottom: 30px;

}

.testimonies_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;



}

#testimonial_card {
    border: 1px solid white;
    width: 200px;
    margin-bottom: 20px;


}

/* .rounded_photos {
    border-radius: 50%;
    width: 200px;
    position: relative;
    left: 30px;
    margin: 30px
} */

.inline_element {
    display: inline;
}

.margin_2px {
    margin: 2px;
}

.no_list_style {
    list-style: none;
}

.padding_15px {
    padding: 15px;
}

.italic {
    font-style: italic;
}

.white_color {
    color: white;
    font-family: 'Metal Mania', cursive;
}

.horizontally_centered_text {
    text-align: center;
}

.card_background_color {
    border: 1px solid white;
    width: 150px;
    margin: 10px;
    background-color: chocolate;
    border-radius: 5px;
}

.rounded_photos {
    border-radius: 50%;
    width: 150px;
    position: relative;
    left: 30px;
    margin: 30px
}

.content_padding {
    padding: 50px
}

/* @media screen and (max-width: 512px) {
    testimonies_container {
        justify-content: center
    }
}

@media screen and (min-width: 700px) {
    #about_photo {

        width: 50%
    }

    #about_container {

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

} */

@media screen and (max-width: 423px) {
    .top-wrapper {
        height: fit-content;
    }

    .testimonies_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .testimonial_card {
        width: 100%;
    }


}


@media screen and (min-width: 423px) and (max-width: 500px) {
    .testimonies_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .testimonial_card {
        width: 40%;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
    .testimonies_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .outer_testimonies_container {
        overflow-y: scroll;
    }

    .inner_testimonies_container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: fit-content;
        font-family: 'Caveat', cursive;
    }


    .testimonial_card {
        width: 50%;
        height: 50%;
    }
}




@media screen and (min-width: 700px) {
    .outer_testimonies_container {
        overflow-x: scroll;
    }

    .inner_testimonies_container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: fit-content;
        font-family: 'Caveat', cursive;
    }

    .testimonial_card {
        width: 200px;
        margin: 10px;
    }
}


/* lesson wrapper nelly testimonials */

.lesson-wrapper {

    text-align: center;
}

.heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
}

.heading h2 {
    font-weight: normal;
}

.lesson {
    float: left;
    width: 25%;
}

.lesson-icon {
    position: relative;
}

.lesson-icon p {
    position: absolute;
    top: 90px;
    width: 100%;
    color: white;
}

.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5;
}

.heading h3 {
    font-weight: normal;
}

.message-wrapper_1 {
    text-align: center;
    background-image: url(./webdev.jpg);
    background-size: 100vh;


}

.message-wrapper {
    text-align: center;
    background-image: url(./kigali.jpg);
    background-size: 100vh;

}

.message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
}

.form {

    align-items: center;
    display: flex;
    flex: auto;
    justify-content: center;
}
}

.message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

footer {
    background-color: chocolate;

}

footer img {
    width: 125px;
}

footer p {
    background-color: chocolate;
    font-size: 12px;
    font-style: bold
}